body, html {
    font-family: Open Sans, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
    font-weight: 600;
    line-height: 1.2
}

p {
    line-height: 1.5;
    font-weight: 400;
    color: #777
}

a, a:hover, a:focus {
    text-transform: capitalize;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
    text-decoration: none;
    outline: none
}

img {
    height: auto;
    max-width: 100%
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px
}

.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px
}

.welcome_area {
    background-color: #f2f4f8;
    padding: 220px 0 150px
}

.section_padding_100 {
    padding: 100px 0
}

.header_area {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9999
}

.box-shadow {
    box-shadow: 5px 25px 20px rgba(0, 0, 0, .1)
}

.default-button {
    background-color: #27ae60;
    border-radius: 30px;
    color: #fff;
    margin-top: 15px;
    padding: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 200px;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px
}

.default-button:hover, .default-button:focus {
    background-color: #fff;
    color: #000;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, .15);
    text-transform: uppercase
}

#btn-2 {
    background-color: #2196f3
}

#btn-2:hover, #btn-2:focus {
    background-color: #fff;
    color: #000
}

.single_demo_area {
    background-color: #fff;
    border-radius: 6px;
    display: block;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: auto
}

.single_demo_area:hover {
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em)
}

.single_demo_area img {
    width: 100%
}

.single_demo_text {
    position: relative;
    z-index: 99;
    border-top: 1px solid #eee;
    font-size: 14px;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #000
}

.bg-dark {
    background-color: #15151e
}

.bg-gray {
    background-color: #f6f6f6
}

.border-gray {
    border: 1px solid #f6f6f6
}

.footer_area {
    background-color: #151515;
    padding: 200px 0
}

.footer_bottom_area h2 {
    color: #fff;
    margin-bottom: 15px
}

.preview_cta_area {
    background-color: #fff;
    padding: 50px 0
}

.preview_cta_text>h4 {
    color: #222;
    margin: 0
}

.cd-headline.clip span {
    padding: 0
}

.cd-headline {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400
}

.portfolio-menu, .portfolio-menu-2 {
    margin-bottom: 50px
}

.why_love_one {
    padding: 100px 0 70px
}

.section_title>h3 {
    color: #222;
    margin: 0
}

.section_title {
    margin-bottom: 50px
}

.section_heading>h3 span {
    color: #27ae60
}

.single_why_love_area p {
    margin: 0
}

.single_why_love_text h4 i {
    color: #27ae60
}

.preview_cta_area.purchase {
    background-color: #27ae60
}

.preview_cta_text>h4 {
    color: #fff;
    display: inline-block;
    font-size: 40px;
    line-height: 1.8;
    font-weight: 300
}

.preview_cta_text>a {
    background-color: #fff;
    border-radius: 30px;
    color: #222;
    display: inline-block;
    margin-left: 50px;
    padding: 10px 30px
}

.preview_cta_text>a:hover {
    background-color: #222;
    color: #fff
}

.footer_bottom a>i {
    color: #fff;
    font-size: 20px;
    padding: 0 5px
}

.footer_bottom a {
    color: #fff
}

.single_why_love_text>h4 {
    font-size: 18px;
    margin: 0 0 15px;
    text-transform: capitalize
}

.cd-headline.clip b {
    color: #27ae60;
    font-weight: 400
}

.section_heading {
    margin-bottom: 50px
}

.section_heading>h3 {
    font-size: 18px;
    text-transform: uppercase
}

.section_heading>p {
    margin: 0 auto;
    max-width: 450px
}

.welcome_text>p {
    margin: 0 auto 30px;
    max-width: 480px
}

#btn-1 {
    margin-right: 15px
}

#scrollUp {
    background-color: #151515;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    outline: medium none;
    right: 30px;
    text-align: center;
    width: 40px;
    z-index: 999 !important;
}

#scrollUp:hover {
    outline: none
}

ul, ol {
    margin: 0;
    padding: 0
}

.demo_section_navigation {
    margin-top: 30px;
    text-align: center
}

.demo_section_navigation li {
    display: inline-block
}

.demo_section_navigation a {
    background-color: #ff9800;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    padding: 12px 16px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms
}

.demo_section_navigation a:hover {
    background-color: #fff;
    border-radius: 6px;
    color: #888
}

.background-pattern {
    position: relative;
    z-index: 1;
    background-image: url("img/bg-pattern/8.png");
    background-repeat: repeat
}

.demo_page_title {
    margin-bottom: 30px;
    text-align: center
}

.cd-intro {
    margin: 0 0 30px
}

.section_heading>span {
    border-radius: 0;
    color: #27ae60;
    display: inline-block;
    font-size: 60px;
    font-weight: 500
}

.nav-menu>li>a {
    text-transform: uppercase
}

.nav-dropdown>li>a {
    padding: 10px 20px
}

.new-templates-area img {
    display: block;
    margin: auto
}

.single-core-feature {
    width: 100%;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15)
}

.single-core-feature img {
    max-height: 50px;
    margin-bottom: 15px
}

.single-core-feature h6 {
    margin-bottom: 0;
    font-size: 14px
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .purchase .preview_cta_text>a {
        float: none;
        margin-left: 0;
        margin-top: 15px
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .welcome_area {
        padding: 75px 0
    }

    .cd-headline {
        font-size: 20px
    }

    .preview_cta_text>h4 {
        font-size: 20px;
        line-height: 1.8
    }

    .purchase .preview_cta_text>a {
        float: none;
        margin-top: 15px;
        margin-left: 0
    }

    .footer_bottom {
        text-align: center !important
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .cd-headline {
        font-size: 24px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .cd-headline {
        font-size: 30px
    }
}
