#inicio {
    padding-top: 4.5rem;
}

.image-minicurso, .image-palestra {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
}

.single_advisor {
    height: auto;
}

.image-palestra {
    height: 27rem;
}

.nav-brand img {
    max-height: 60px;
    margin-top: -5px;
}

.mini-curso-descript, .palestra-descript {
    height: 5rem;
    overflow: hidden;
}

.nav-logon {
    min-width: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5rem;
    background: #27ae60;
    border: 2px solid #27ae60 !important;
    transition: .5s ease-in-out;
    font-weight: 600 !important;
    color: white !important;
    transition: .5s ease-in-out;
    cursor: pointer;
    max-width: 98%;
}

.nav-logon .dropdown-toggle {
    font-weight: 600 !important;
    color: white !important;
    transition: .5s ease-in-out;
    width: 100%;
    height: 100%;
}

.nav-logon:hover {
    border: 2px solid #27ae60 !important;
    background: white;
    color: #27ae60 !important;
}

.nav-logon:hover .dropdown-toggle {
    color: #27ae60 !important;
}

.dropdown-menu {
    background: transparent;
    border: 1px solid transparent;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5rem;
    right: -3.25rem !important;
    left: auto !important;
    /* box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15); */
}

.dropdown-menu li {
    background-color: #f6f6f6;
    border-radius: 3rem;
    min-width: 13rem;
    max-width: 285px;
    margin-top: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: .5s ease-in-out;
    border: 2px solid #27ae60;
}

.dropdown-menu li:hover {
    background-color: #27ae60 !important;
}

.dropdown-menu li:hover a {
    color: white !important;
}

.navbar {
    height: 5rem;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item {
    transition: .5s;
}

.navbar .navbar-nav .nav-item.active a {
    color: #27ae60;
    transition: .5s;
}

.footer_area {
    padding: 20px 0;
}

.gallery-image {
    max-height: 300px !important;
}

@media (min-width: 0px) {
    .gallery-image {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .gallery-image {
        width: 25% !important;
    }

    .vgs__container {
        margin: 4.5rem auto 0 !important;
    }
}

.radio>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left !important;
}

.radio input {
    box-sizing: border-box;
    padding: 0;
    width: auto;
    margin: .25rem .5rem 0 0;
}

.radio label {
    padding: 0;
    margin: 0;
}

.cronograma-select {
    display: flex;
    justify-content: right;
}

.cronograma-select div {
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .25rem 1rem;
    border: 3px solid #343a40;
    color: #f6f6f6;
    background: #343a40;
    min-width: 4rem;
    text-align: center;
}

.cronograma-select div:nth-child(1) {
    border-radius: .5rem 0 0 .5rem;
}

.cronograma-select div:nth-child(2) {
    border-radius: 0 .5rem .5rem 0;
}

.cronograma-select div.active {
    background: #28a745;
    color: #fff;
}
